@charset "UTF-8";
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

body {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 0; }

.main-content {
  width: 100%;
  margin: a auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6); }

.fixed {
  position: fixed; }

.modal-window {
  position: relative;
  top: 100px;
  padding: 30px;
  position: fixed;
  margin: 0 auto;
  width: 650px;
  height: 600px;
  overflow: auto;
  background-color: #fff;
  z-index: 11;
  border-radius: 20px;
  box-shadow: 0 0 50px 5px rgba(139, 180, 241, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.close-modal {
  position: fixed;
  box-sizing: border-box;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  background-position: center;
  top: 30px;
  right: 100px;
  border: 5px solid transparent;
  text-align: center;
  cursor: pointer;
  z-index: 1; }
  .close-modal_lost {
    right: 60px; }

.container_center {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 20px; }

.container_full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container_grey {
  background-color: #FAF9F9;
  padding: 50px 0 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; }

.neit {
  margin: 15px 0 15px 0;
  padding: 20px 0 1px 0;
  background-color: #FAF9F9; }

.header_style {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative; }
  .header_style::before {
    content: 'Изменено 03.09.2020';
    position: absolute;
    top: -50px;
    left: 0;
    font-family: "Roboto", sans-serif;
    color: #949191;
    font-size: 12px;
    font-weight: 300; }
.header_cv {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative; }
.header__photo {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 263px; }
.header__desc {
  margin: 0 0 0 100px;
  padding: 0 0 0 0; }
.header__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  position: relative; }
  .header__name::before {
    content: '–';
    color: #0d76d8;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: -15px;
    left: 210px;
    transform: rotate(123deg);
    -moz-transform: rotate(123deg);
    -ms-transform: rotate(123deg);
    -webkit-transform: rotate(123deg);
    -o-transform: rotate(123deg); }
.header__position {
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 50px;
  color: #000; }
.header__city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000; }
.header__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000; }
.header__sum {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000; }

.text-margin__bottom_20 {
  margin: 0 0 20px 0; }

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 263px;
  object-fit: cover; }

.section-margin_bottom {
  margin: 0 0 70px 0; }

.invisible-block {
  display: none; }

.menu-sticky {
  height: 110px;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.99);
  transition: 2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1; }

.article-style {
  margin: 0 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.99); }

.border-bottom {
  border-bottom: 1px solid rgba(196, 194, 194, 0.9); }

.menu {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: gray;
  background-color: rgba(255, 255, 255, 0.99); }
  .menu__item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #6F6E6E;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px dashed #0d76d8;
    padding-bottom: 3px; }
    .menu__item:hover {
      border: none;
      color: #000; }
    .menu__item_sel {
      font-family: "Istok Web", sans-serif;
      color: #000;
      cursor: default;
      border: none; }

.main-area-text {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column; }

.resume__div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column; }

.block {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .block_data {
    width: 140px;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #000; }
  .block_text {
    width: 60%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000; }
  .block_margin {
    margin: 0 0 60px 0; }

.text-additional {
  color: #949191; }
  .text-additional_desc {
    margin: 0 0 0 0;
    font-weight: 500; }

.footnote {
  margin: 0 0 0 100px;
  width: 150px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400; }

.text-link {
  color: #0d76d8;
  text-decoration: underline;
  cursor: pointer; }
  .text-link:hover {
    color: #000;
    text-decoration: none; }

.label-text {
  margin: 0 0 0 10px;
  font-family: "Roboto", sans-serif;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }
  .label-text:last-child {
    margin-bottom: 20px; }

.label-text__margin-last {
  margin: 0 0 20px 10px;
  font-family: "Roboto", sans-serif;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }
  .label-text__margin-last:last-child {
    margin-bottom: 20px; }

.text_bold {
  font-weight: 500; }

.competence {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.comp-hard {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: 50px 50px 50px 50px;
  grid-auto-flow: column;
  grid-gap: 10px; }

.comp-soft {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: 50px 50px 50px 50px;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  grid-row-gap: 10px; }

.comp-title {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 20px 0;
  padding: 0 0 0 0; }

.skills-title {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
  padding: 0 0 0 0; }

.comp-name {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 18px; }

.soft-copm {
  margin: 0 0 0 70px;
  padding: 0 0 0 0; }

.portfolio-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 0; }

.portfolio__desc {
  width: 100%;
  margin: 0 0 0 0;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.portfolio_text {
  width: 40%; }

.portfolio_text_item {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  padding: 0 0 15px 0; }

.charact-text {
  width: 65%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000; }

.charact_text_title {
  font-weight: 500;
  padding: 0 0 0 0; }

.charact_text_item {
  font-weight: 400;
  padding: 0 0 20px 0; }

.portfolio_info {
  width: 45%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px; }

.container_corrector {
  background-color: #ebbd2f; }

.h1–corrector {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  font-weight: 400; }

.flip {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff;
  position: relative;
  z-index: 1;
  text-transform: lowercase; }

.up-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff; }

.info_link {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  color: #000;
  cursor: pointer; }
  .info_link:hover {
    text-decoration: none;
    color: #0d76d8; }
  .info_link:visited {
    color: #000; }
  .info_link:active {
    color: #0d76d8; }

.portfolio_bottom {
  margin: 0 0 120px 0; }

.header-style {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  background-color: #8bb4f1;
  height: 300px; }

.cow-left {
  background-image: url("http://games.tolkoxa.ru/bullsandcows/img/site/cow-left.png");
  width: 225px; }

.between-top {
  width: 20%;
  font-size: 20px;
  font-weight: 500;
  margin: 95px 0 0 0;
  text-transform: uppercase; }

.cow-right {
  background-image: url("http://games.tolkoxa.ru/bullsandcows/img/site/cow-right.png");
  width: 225px; }

.game-name {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.game-name__text_small {
  margin: 0 0 -20px 6px;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-size: 36px;
  color: #757373;
  text-transform: uppercase; }

.game-name__text_black {
  margin: 0 0 -35px 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 500; }

.game-name__text_white {
  color: #fff; }

.name__text-laquo {
  margin-left: -47px; }

.container_portfolio {
  width: 100%;
  height: 350px;
  padding: 50px 0 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container_randomizer {
  background-color: #2a2b2c; }

.container_bullsandcows {
  background-color: #8bb4f1; }

.container_cv {
  background-color: #ffe002; }

.container_interview {
  background-color: grey; }

.container_answers {
  background-image: url(../img/answer_bg.jpg);
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000; }

.text__title {
  margin: 0 0 50px 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 50px;
  text-transform: uppercase;
  /* line-height: 1rem; */
  font-weight: 500;
  text-align: left; }

.main-header-logo-name {
  margin: 0 0 35px 0;
  padding: 0 0 0 0;
  font-family: "open sans";
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 8.74px;
  text-transform: uppercase; }

.main-header-logo-desc {
  margin: 0 0 0 3px;
  padding: 0 0 0 0;
  color: #fff;
  font-family: "roboto";
  font-size: 25px;
  font-weight: 400;
  line-height: 11.62px; }

.top-logo {
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.logo-text {
  margin: 0 0 0 -10px;
  display: block;
  font-family: Scada;
  font-style: normal;
  font-weight: bold;
  font-size: 15vmax;
  color: #000;
  text-transform: uppercase; }

.logo-line {
  display: block;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 25vmax;
  line-height: 12vw;
  color: #FF0000; }

.logo__text {
  padding: 0 0 40px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4rem;
  line-height: 1.25rem;
  font-weight: 500; }
  .logo__text_color_black {
    color: #000; }
  .logo__text__color_orange {
    padding: 0 0 0 3px;
    color: #e46613;
    font-size: 4.2rem;
    font-weight: 500;
    font-style: italic; }

.accent {
  position: relative; }
  .accent::before {
    content: '–';
    font-size: 2.0rem;
    font-weight: 500;
    position: absolute;
    top: -3px;
    left: 35px;
    color: #e46613;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg); }

.title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 3rem;
  width: 500px; }
  .title__sub {
    font-family: "Scada", sans-serif;
    font-size: 2rem; }
