@charset "UTF-8";
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

body {
  padding: 100px 0 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6); }

.modal-window {
  padding: 20px;
  position: absolute;
  top: 70vh;
  left: 20%;
  width: 650px;
  background-color: #fff;
  z-index: 11;
  border-radius: 10px;
  box-shadow: 0 0 50px 5px rgba(139, 180, 241, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.close-modal {
  position: absolute;
  box-sizing: border-box;
  background: url("../img/close-modal.png") no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  border: 5px solid transparent;
  text-align: center;
  cursor: pointer;
  z-index: 1; }
  .close-modal_lost {
    right: 60px; }

.container {
  margin: 0 auto;
  width: 80%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.container_grey {
  width: 100%;
  background-color: #949191;
  padding: 50px 0 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; }

.neit {
  margin: 15px 0 15px 0;
  padding: 20px 0 1px 0;
  background-color: #e7e5e5; }

.header_style {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative; }
  .header_style::before {
    content: 'Изменено 27.07.2020';
    position: absolute;
    top: -50px;
    left: 0;
    font-family: "Roboto", sans-serif;
    color: #949191;
    font-size: 12px;
    font-weight: 300; }
.header__photo {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 263px; }
.header__desc {
  margin: 0 0 0 100px;
  padding: 0 0 0 0; }
.header__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  position: relative; }
  .header__name::before {
    content: '–';
    color: #0d76d8;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: -15px;
    left: 210px;
    transform: rotate(123deg);
    -moz-transform: rotate(123deg);
    -ms-transform: rotate(123deg);
    -webkit-transform: rotate(123deg);
    -o-transform: rotate(123deg); }
.header__position {
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 50px;
  color: #000; }
.header__city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000; }
.header__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000; }
.header__sum {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000; }

.text-margin__bottom_20 {
  margin: 0 0 20px 0; }

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 263px;
  object-fit: cover; }

.section-margin_bottom {
  margin: 0 0 70px 0; }

.invisible-block {
  display: none; }

.menu-sticky {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.99);
  transition: 2s;
  padding-bottom: 20px; }

.article-style {
  margin: -50px 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000; }

.border-bottom {
  border-bottom: 1px solid rgba(196, 194, 194, 0.9); }

.menu {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: gray; }
  .menu__item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #6F6E6E;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px dashed #0d76d8;
    padding-bottom: 3px; }
    .menu__item:hover {
      border: none;
      color: #000; }
    .menu__item_sel {
      font-family: "Istok Web", sans-serif;
      color: #000;
      cursor: default;
      border: none; }

.resume-text {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column; }

.block {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .block_data {
    width: 140px;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #000; }
  .block_text {
    width: 60%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000; }
  .block_margin {
    margin: 0 0 60px 0; }

.text-additional {
  color: #949191; }
  .text-additional_desc {
    margin: 0 0 0 0;
    font-weight: 500; }

.footnote {
  margin: 0 0 0 100px;
  width: 150px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400; }

.text-link {
  color: #0d76d8;
  text-decoration: underline;
  cursor: pointer; }
  .text-link:hover {
    color: #000;
    text-decoration: none; }

.label-text {
  margin: 0 0 0 10px;
  font-family: "Roboto", sans-serif;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }
  .label-text:last-child {
    margin-bottom: 20px; }

.label-text__margin-last {
  margin: 0 0 20px 10px;
  font-family: "Roboto", sans-serif;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }
  .label-text__margin-last:last-child {
    margin-bottom: 20px; }

.text_bold {
  font-weight: 500; }
