$font-main: 'Roboto',
sans-serif;
$font-title: 'Istok Web',
sans-serif;
$bg-main_color: #fff;
$text-main_color: #000;
$text-second_color: #fff;
$text-accent_color: #0d76d8;
$text-menu__item:#6F6E6E;
$text-additional: #949191;
$neIt-color: #e7e5e5;
$light-grey-bgcolor:#FAF9F9;
//portfolio
$bg_color-corrector:#ebbd2f;
$bg_color-bullsandcows: #8bb4f1;
//dark-theme
// $bg-main_color: #000;
// $text-main_color: #fff;
// $text-accent_color: #358fe4;
// $text-menu__item:#a09e9e;