<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@400;500;700&family=Scada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Андрей Халимоненко. CV</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(65586466, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/65586466" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <div class="overlay invisible-block" id="overlay"></div>
    <div class="modal-window invisible-block" id="modal-window"></div>
    <div class="main-content" id="app">
        <header class="header_style container_center">
            <div class="header__photo">
                <img class="photo" src="img/khalimonenko.jpeg" alt="Андрей Халимоненко" width="auto" height="auto">
            </div>
            <div class="header__desc">
                <p class="header__name text-margin__bottom_20">Андрей Халимоненко</p>
                <h1 class="header__position">Frontend&#150;разработчик</h1>
                <p class="header__city text-margin__bottom_20">из Санкт&#150;Петербурга</p>
                <p class="header__text">40 лет,</p>
                <p class="header__text text-margin__bottom_20">ищу работу в офисе или удалённо</p>
                <p class="header__text">от
                    <span class="header__sum">75&nbsp;000&nbsp;₽</span>
                </p>
            </div>
        </header>
        <div class="menu-sticky section-margin_bottom container_full" id="sticky">
            <div class="container_center" id="sticky_plate">
                <section class="article-style text-margin__bottom_20" id="menu-title" v-if="sticky">
                    Кто вы, Андрей Халимоненко?
                </section>
                <section class="menu" id="menuItems">
                    <a class="menu__item" v-bind:class="{ menu__item_sel: v_it }" name="menu" data-menu="it" id="menu-it">Опыт в ИТ</a>
                    <a class="menu__item" v-bind:class="{ menu__item_sel: v_neit }" name="menu" data-menu="all" id="menu-all">Весь опыт</a>
                    <a class="menu__item" v-bind:class="{ menu__item_sel: v_portfolio }" name="menu" data-menu="portfolio" id="portfolio">Портфолио</a>
                    <a class="menu__item" v-bind:class="{ menu__item_sel: v_charact }" name="menu" data-menu="charact" id="menu-charact">Общая характеристика</a>
                    <a class="menu__item" v-bind:class="{ menu__item_sel: v_contact }" name="menu" data-menu="contact" id="menu-contact">Контактная информация</a>
                </section>
            </div>
        </div>

        <div class="main-area-text container_full" id="main-area" v-html="content_show">
        </div>
        <div class="container_grey container_full" id="allcompetence" v-if="v_anyit">
            <div class="container_center">
                <div class="comp-title text-margin__bottom_20">Компетенции</div>
                <div class="competence">
                    <div class="hard-copm">
                        <div class="skills-title">
                            Hard skills
                        </div>
                        <div class="comp-hard" id="hardcomp">
                        </div>
                    </div>
                    <div class="soft-copm" v-if="v_neit">
                        <div class="skills-title" id="soft-title">
                            Soft skills
                        </div>
                        <div class="comp-soft" id="softcomp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script/main.js" defer></script>
</body>

</html>